openapi: '3.0.0'
info:
  version: 1.0.0
  title: Parker+Olive API
  license:
    name: MIT
servers:
  - url: https://api.parkerolive.com/v1
paths:
  /clients:
    get:
      summary: List all clients
      operationId: listClients
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of clients
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clients'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a client
      operationId: createClients
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /clients/{clientId}:
    get:
      summary: Info for a specific client
      operationId: showClientById
      parameters:
        - name: clientId
          in: path
          required: true
          description: The id of the client to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clients'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /services:
    get:
      summary: List all services
      operationId: listServices
      parameters:
        - name: category
          in: query
          description: Filter services by category (ai, marketing, development, consulting)
          required: false
          schema:
            type: string
      responses:
        200:
          description: A list of available services with descriptions and pricing information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Services'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a service offering
      operationId: createServices
      responses:
        201:
          description: Service created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: status
          in: query
          description: Filter projects by status (active, completed, on-hold)
          required: false
          schema:
            type: string
      responses:
        200:
          description: A comprehensive list of client projects including current status, milestones, and key metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Client:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        industry:
          type: string
    Clients:
      type: array
      items:
        $ref: '#/components/schemas/Client'
    Service:
      required:
        - id
        - name
        - category
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        category:
          type: string
        description:
          type: string
    Services:
      type: array
      items:
        $ref: '#/components/schemas/Service'
    Project:
      required:
        - id
        - clientId
        - name
        - status
      properties:
        id:
          type: integer
          format: int64
        clientId:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
        startDate:
          type: string
          format: date
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string